html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.linenumber.react-syntax-highlighter-line-number {
  margin-bottom: 5px;
}
