:root {
  --gold: #f0e6d2;
  --mud: #31271e;
  --dark: #131415;
  --ocean: #0bc4e2;
  --old-gold: #98782b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mali, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: var(--gold);
  background-color: var(--dark);
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--ocean);
  text-decoration: none;
}

a.no-hightlight {
  color: var(--gold);
}

* {
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

li {
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  scroll-margin-top: 5rem;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  h2,
  h3 {
    padding-top: 16px;
    margin-top: -16px;
  }
}

pre {
  box-shadow: inset 0 0 0 0.0625rem rgb(255 255 255 / 10%);
  border-radius: 0.75rem;
  padding: 1.25rem !important;
}

ul {
  list-style-type: none;
}

.linenumber {
  color: var(--old-gold) !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--mud);
  border-radius: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mud);
}

::-webkit-scrollbar-corner {
  background: var(--dark);
}
