html,
body {
  padding: 0;
  margin: 0;
  font-family: Mali, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: #f0e6d2;
  background-color: #0a0a0c;
  font-weight: 300;
}

a {
  color: #0bc4e2;
  text-decoration: none;
}

a.no-hightlight {
  color: #f0e6d2;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

li {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #937341;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

pre {
  box-shadow: inset 0 0 0 0.0625rem rgb(255 255 255 / 10%);
  border-radius: 0.75rem;
  padding: 1.25rem !important;
}

ul {
  list-style-type: none;
}

.linenumber {
  color: #98782b !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0c;
}

::-webkit-scrollbar-thumb {
  background: #31271e;
  border-radius: 64px;
}

::-webkit-scrollbar-thumb:hover {
  background: #31271e;
}

::-webkit-scrollbar-corner {
  background: #0a0a0c;
}
