/* GLOBAL STYLES
   ========================================================================== */

:root {
  --gold: #f0e6d2;
  --mud: #31271e;
  --dark: #131415;
  --ocean: #0bc4e2;
  --old-gold: #98782b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mali, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: var(--gold);
  background-color: var(--dark);
  font-weight: 300;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  h2,
  h3 {
    padding-top: 16px;
    margin-top: -16px;
  }
}
